.label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: #000000;
  -fx-min-width: 200;
  -fx-max-width: 2000;
  -fx-alignment: center;
  -fx-text-alignment: center;
}

.button {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: #000000;
  -fx-min-width: 200;
}

#value {
  -fx-font-size: 24px;
}