.form {
    -fx-background-color: linear-gradient(#bfd3e8 0%, #a8c2de 25%, #90b0d5 100%);
    -fx-padding: 40 20 30 20;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-effect: innershadow(two-pass-box, black, 10, 0, 0, 0);

}

.header {
    -fx-font-size: 30;
    -fx-background-color: linear-gradient(#c3e8cd 0%, #b4e4be 25%, #86d88b 100%);
    -fx-padding: 40 20 30 20;
    -fx-spacing: 20;
    -fx-effect: innershadow(two-pass-box, black, 10, 0, 0, 0);
}

.selectorbar {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-background-color: linear-gradient(#e8bfc6 0%, #e8adb0 25%, #e894a1 100%);
    -fx-effect: innershadow(two-pass-box, black, 10, 0, 0, 0);
}

.buttonbar {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-background-color: linear-gradient(#fff4c1 0%, #fff7ab 25%, #fff77c 100%);
    -fx-effect: innershadow(two-pass-box, black, 10, 0, 0, 0);
}